* {
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
}

/* Header Section */
header {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 3%;
    padding-left: 3%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.logo a {
    text-decoration: none;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 35px;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

nav li {
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}
 nav a {
    text-decoration: none;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 18px;
 }

 nav a:hover {
    text-decoration: underline;
    text-decoration-color: #ED661F;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
 }