* {
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
}

header {
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}