* {
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
}

body {
   margin: 0;
   background-color: lightgray;
}

section {
   background-color: white;
}

/* Header Section */
header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 3%;
    padding-left: 3%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.logo a {
    text-decoration: none;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 40px;
}

.logo a:hover {
    color: #ED661F;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li {
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}
 nav a {
    text-decoration: none;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 18px;
 }

 nav a:hover, .login-btn a:hover {
    text-decoration: underline;
    text-decoration-color: #ED661F;
    text-underline-offset: 7px;
    text-decoration-thickness: 4px;
 }

 .header-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .header-btns a {
    text-decoration: none;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 18px;
 }

 .login-btn {
    margin-right: 25px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 12px;
    padding-left: 12px;
 }

 .get-started-btn {
    background-color: #ED661F;
    padding: 16px;
    border-style: solid;
    border-color: #ED661F;
    border-width: 4px;
 }

 .get-started-btn:hover {
    background-color: black;   
 }

 /* Intro section */

 #intro {
    padding-left: 5%;
    padding-bottom: 200px;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(assets/image-1.png);
    background-size: cover;
    background-position: center bottom;
 }

 .intro-photo {
    right: 10px;
 }

 .intro-photo img {
   width: 99%;
 }

 .intro-text {
    padding-top: 100px;
 }

 .intro-text h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    font-weight: 700;
 }

 .intro-text p {
    font-size: 20px;
 }

 .intro-text h2 {
    padding-top: 45px;
 }

 .intro-text a {
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 25px;
    background-color: #ED661F;
    padding: 21px;
    border-style: solid;
    border-color: #ED661F;
    border-width: 4px;
 }

 .intro-text a:hover {
    border-color: black;
 }

/* Floating Stats */

.floating-stats {
   width: max-content;
   position: absolute;
   top: 550px;
   background-color: white;
   right: 12%;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   padding: 20px;
   box-shadow: 0px 3px 7px grey;
}

.stat-item {
   padding: 20px;
}

.stat-item h3 {
   text-align: center;
}

#main {
   position: relative;
   padding-left: 5%;
   box-shadow: 0 5px 10px gray;
   z-index: -1;
}


/* Why we exist section */

#why-exist {
   left: 5%;
   padding-top: 100px;
   display: flex;
   justify-content: space-between;

}

.exist-img {
   right: 3%;
   align-self: flex-end;
}

.exist-img img {
   width: 85%;
   align-self: flex-end;
}

.exist-txt {
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding-right: 30px;
   width: 50%;
}

.exist-txt p {
   font-family: 'Inter', sans-serif;
   font-size: 20px;
}

.exist-txt h2, .section-heading h2, .product-cat h2 {
   font-family: 'Inter', sans-serif;
   font-size: 35px;
   padding-bottom: 20px;
} 

.exist-txt a, .ul-txt {
   font-family: 'Inter', sans-serif;
   text-decoration: underline;
   text-decoration-color: #ED661F;
   text-underline-offset: 12px;
   text-decoration-thickness: 5px;
}

.more-link .ul-txt {
   font-family: 'Inter', sans-serif;
   text-decoration: underline;
   text-decoration-color: #ED661F;
   text-underline-offset: 12px;
   text-decoration-thickness: 5px;
}

/* Products section */

.section-heading {
 margin: auto;
 width: 50%;
 text-align: center;
}

.section-heading p {
   font-size: 20px;
}

.section-heading a, .product-cat a {
   font-family: 'Inter', sans-serif;
   text-decoration: underline;
   text-decoration-color: #ED661F;
   text-underline-offset: 17px;
   text-decoration-thickness: 5px;
}

.product-cat {
   margin-top: 80px;
}

.product-list {
   display: flex;
   justify-content: space-between;
}

.product p {
   font-family: 'Inter', sans-serif;
   font-size: 20px;
}

.product h3 {
   font-family: 'Inter', sans-serif;
   font-size: 20px;
}

.product img {
   width: 75%;
}

.more-link {
   
   margin-right: 10%;
   padding-top: 20px;
   padding-bottom: 20px;
}

.more-link p, .more-link a {
   font-family: 'Inter', sans-serif;
   font-size: 28px;
   font-weight: 600;
   text-decoration: none;
   color: black;
}

.more-link a {
   display: flex;
   justify-content: flex-end;
   align-items: center;
}

.more-link i {
   font-size: 28px;
   font-weight: 600;
   color: #ED661F;
   padding-left: 20px;
}

.more-link p {
   padding-left: 10px;
}

.more-link a:hover {
   color: #ED661F;
   text-decoration-color: black;
}

/* Testimonials Section */

#testimonials {
   padding-left: 5%;
   box-shadow: 5px 0px 10px gray;
   margin-top: 30px;
}